img{
    max-width: 100%;
}
#menuknap{
    color: #F25C05;
}

#section_splash{
    width: 100vw;
    height: 100vh;
    background-image: url(splash_om_line_mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}
#section_about{
    margin: 0;
}
h2{
    color: #F25C05;

}
header{
    height: 0rem;
}

/*---------------desktop------------*/
@media only screen and (min-width: 600px){
#section_splash{
    width: 100vw;
    height: 100vh;
    background-image: url(splash_om_line.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#section_about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: 2.5rem;
}
#section_about img{
    margin-top: 3rem;
}
    /*------------------navbar--------------*/
li a:hover{
    color: #F25C05;
}
}


